<h2>Create Doctor Record</h2>
<form [formGroup]="formValue">
    <div class="container">
        <div class="mb-8">
            <label class="form-label">Name</label>
            <input formControlName="name" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <input formControlName="age" type="number" class="form-control">
        </div>
        <div>Gender</div>
        <div class="genderselect">         
            <div class="mb-3">
                <input formControlName="gender" type="radio" id="male" class="gender" value="male"
                    style="margin-right: 10px;"><label>Male</label>
            </div>
            <div class="mb-3">
                <input formControlName="gender" type="radio" id="female" class="gender" value="female"
                    style="margin-right: 10px;"><label>Female</label>
            </div>
            <div class="mb-3">
                <input formControlName="gender" type="radio" id="others" class="gender" value="others"
                    style="margin-right: 10px;"><label>Others</label>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Specialist</label>
            <input formControlName="specialist" type="text" class="form-control">
        </div>

        <button type="button" class="btn btn-primary " (click)="postDoctorDetails()">Add</button>
        <button type="button" class="btn btn-secondary mx-3 " >Close</button>
    </div>

</form>